<%- include ('../partials/header') %>

<div class="container my-5">
    <header>
        <!-- This will grab the blog title from the id thats returned... -->
        <h1><%= blog.title %>
            <a href="/blogs/<%= blog.id %>/edit">
                <i class="fa fa-edit"></i>
            </a>
        </h1>
        <br>
        <small>
            <%= (blog.updatedAt.toLocaleString("en-CA")) %>
        </small>
        <p><strong>By: <%= blog.user.fullName %></strong></p>
    </header>
    <hr>
    <div class="content">
        <!-- use a '-' to output the proper html... no syntax -->
        <%- blog.content %> 
    </div>
</div>

<%- include ('../partials/footer') %>